<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.XamForms.Mobile" version="1.5" targetFramework="MonoAndroid22" />
  <package id="Acr.XamForms.UserDialogs" version="2.1.2" targetFramework="MonoAndroid22" />
  <package id="ExifLib.PCL" version="1.0.0" targetFramework="MonoAndroid22" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="MonoAndroid22" />
  <package id="SQLite.Net.Async-PCL" version="2.4.1" targetFramework="MonoAndroid22" />
  <package id="SQLite.Net.Platform.XamarinAndroid" version="2.4.1" targetFramework="MonoAndroid22" />
  <package id="SQLite.Net-PCL" version="2.4.1" targetFramework="MonoAndroid22" />
  <package id="Xamarin.Android.Support.v4" version="20.0.0.4" targetFramework="MonoAndroid22" />
  <package id="Xamarin.Forms" version="1.2.3.6257" targetFramework="MonoAndroid22" />
  <package id="Xamarin.Forms.Labs" version="1.2.0" targetFramework="MonoAndroid22" />
  <package id="Xamarin.Forms.Labs.Caching.SQLiteNet" version="1.2.0" targetFramework="MonoAndroid22" />
  <package id="ZXing.Net.Mobile" version="1.4.6" targetFramework="MonoAndroid22" />
</packages>